body {
	margin-top: 0;
	background-color: #E6E6E6;
}

a {
	color: green;
	text-decoration: none;
}

a:visited {
	color: purple;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

#menu {
	background-color:#D4D4D4;
	text-align: center;
	height: 40px;
}

#menu ul {
	list-style: none;
	margin: 0;
    padding: 12px 0;
}

#menu li {
	display: inline;
}

#menu a:visited {
	color: green;
}

#cabecalho {
	background-color: #E6E6E6;
}

#cabecalho h1 {
	text-align: center;
}

#cabecalho h2 {
	text-align: center;
}

.container {
	background-color: white;
	padding: 20px;
}

.container h2 {
	margin-top: 0;
}

.footer {
	background-color:#D4D4D4;
	padding: 20px;
}

.footer p {
	margin: 0;
}

.menupost {
	float: left; 
	background-color: #E0E0D1;
	padding-right: 15px; 
	margin-right: 15px;
	margin-bottom: 10px;
}

.validadorHidded {
    display: none;
}

.validadorUnHidded {
    display: block;
}

.postHidded {
	display: none;
	transition: all 0.5s;
}

.postUnHidded {
	display: block;
	transition: all 0.5s;
}

.validador {
    color: red;
    background-color: #f6f6f6;
    padding: 5px;
}

.validador2 {
    color: #ffe37f;
    background-color: #f6f6f6;
    padding: 5px;
}

ul.paginaPrincipal {
    list-style: none;
}

.post img {
    width: 25px;
    height: 25px;
    vertical-align:middle
}



